*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.text-center {
    text-align: center;
}

.button {
    cursor: pointer;
    background: rgb(252,176,69);
    background: -moz-linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    background: linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb045",endColorstr="#fd1d1d",GradientType=1);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 rgb(192, 130, 29);
    transition: .1s;
}

.button2 {
    cursor: pointer;
    background: rgb(252,176,69);
    background: -moz-linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    background: linear-gradient(90deg, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb045",endColorstr="#fd1d1d",GradientType=1);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    transform: translateY(-5px);
    box-shadow: 0 5px 0 rgb(192, 130, 29);
    transition: .1s;
}

.button:active {
    transform: translateY(-2px);
    box-shadow: 0 2px 0 rgb(192, 130, 29);
}

.button2:active {
    transform: translateY(-2px);
    box-shadow: 0 2px 0 rgb(192, 130, 29);
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ----------------- Header ------------------ */

.header {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header--dark {
    background-color: rgba(0, 0, 0, .8);
}

.header__row {
    display: flex;
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ----------------- Navigation ------------------ */

.header__logo img {
    vertical-align: middle;
}

.header__navigation {
    display: flex;
    height: 100%;
    font-size: 15px; 
    margin-left: auto;
}

.header__menu {
    display: flex;
    height: 100%;
    font-size: 15px; 

}

.nav__link {
    display: flex;
    align-items: center; 
    color: #fff;
    padding: 0 10px;
}

.nav__link:last-child {
    padding-right: 0;
}

.nav__link.active {
    height: auto;
    background-color: #004AF2;
}

.header__burger {
    display: none;
}

.header__menu1,
.header__menu2,
.header__menu3  {
    display: block;
    width: 39px;
    height: 4px;
    background: white;
    transition: 0.3s;
}

.header__menu-pad {
    margin: 6px 16px 6px 0;
}

.header__menu1.active {
    transform: rotate(45deg) translate(9px, 5px);
}

.header__menu2.active {
    transform: rotate(-45deg) translate(9px, -5px);
}

.header__menu3.header__menu-pad.active{
    transform: scale(0);
}


/* Intro */

.intro {
    height: 600px;
    max-width: 100%;
    background-color: #b0c7fc;
    background-image: url(img/intro_bg.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.intro2 {
    height: 350px;
    max-width: 100%;
    background-color: #b0c7fc;
    background-image: url(img/intro_bg2.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
}

.intro3 {
    height: 350px;
    max-width: 100%;
    background-color: #b0c7fc;
    background-image: url(img/intro_bg3.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;
    
}

.intro__content {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.intro__text {
    text-align: right;
    padding-bottom: 40px;
}


.intro__countries {
    font-size: 15px;
    color: #FFFFFF;
}

.intro__name {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    font-weight: 600;
    line-height: 0.9;
    color: rgba(255, 255, 255, .8);
}

.intro__sign {
    font-family: 'Lato', sans-serif;
    font-size: 170px;
    font-weight: 900;
    color: rgba(255, 255, 255, .2);
    position: absolute;
    right: 0;
    bottom: 0;
}

.intro__inner {
    position: relative;
}

.intro__frame {
    position: absolute;
    z-index: 501;
    bottom: -31px;
    left: 0;
    width: 400px;
    height: auto;
    color: #FFFFFF;
    border-radius: 7px;
    overflow: hidden;
}

.intro__frame2 {
    display: none;
    position: absolute;
    z-index: 501;
    bottom: -31px;
    left: 0;
    width: 400px;
    height: auto;
    color: #FFFFFF;
    border-radius: 7px;
    overflow: hidden;
}

.pos {
    position: static;
}

.intro__wrapper {
    background-color: #0039bd;
    padding:17px 30px 0;
}

.intro__head {
    font-weight: 900;
    font-size: 30px;
}

.intro__description {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 21px;
}

.intro__wrapper2 {
    background-color: #0344da;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.callback__disappear2 {
    display: none;

}

.form {
    display: flex;
    flex-direction: column;
}

.intro_line {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-top: 17px;
    background-color: #0344da;
    border: none;
    border-bottom: rgba(255, 255, 255, .2) solid 1px;
    height: 34px;
    padding-left: 40px;
    padding-bottom: 4px;
    width: 100%;
    caret-color: white;
    color: white;
    transition: border-bottom-color .2s linear;
}

.icon1 {
    background-image: url(img/ios-person.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 7px;
}

.icon2 {
    background-image: url(img/ios-call.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 5px;
}

.icon3 {
    background-image: url(img/ios-mail.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 9px;
}

.form__group input::placeholder {
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.intro_line:focus {
    outline: none;
    border-bottom-color: #fff ;
}

.btn {
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    margin: 35px 0 0;
    color: white;
}


/* Means */

.means__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    margin-top: 90px;
    padding: 25px 25px 65px 25px;
    padding-left: 30px;
    margin-bottom: 115px;
    position: relative;
}

.means__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
    margin-bottom: 25px;
}

.means__title {
    color: #2C2C2C;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

.means__text {
    font-size: 15px;
    line-height: 1.4;
}

.means__link {
    display: block;
    padding-top: 20px;
    margin-bottom: 9px;
    color: #004AF2;
}

.means__line {
    width: 12px;
    background-color: #004AF2;
    height: 3px;
}

.means__item_container:hover .means__line {
    width: 75px;
    background-color: #FD665A;
    height: 3px;
    transition: background-color, width .2s;
}

.means__item_container:hover .means__link {
    color: #FD665A; 
    transition: color .2s;
}

.means__item_container {
    margin-top: auto;
}

.blue {
    color: #0D53F2;
}

.clients__title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 50px;
}

.means__services {
    font-weight: 900;
    color: rgba(44, 44, 44, .05);
    font-size: 65px;
    position: absolute;
    bottom: 0;
    right:  25px;
    pointer-events: none;
}

/* Clients */

.clients {
    margin-bottom: 120px;
}

.clients--map {
    background: url(img/map.jpg) left 25px top 100px no-repeat;
}

.clients__wrapper {
    display: flex;
    width: 100%;
}

.clients__logos {
    width: 60% ;
    margin-bottom: 30px;
}

.clients__bgmap--wrapper1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clients__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 94px;
}

.clients__list li {
    margin-bottom: 35px;
    margin-right: 50px;
    max-width: 230px;
}

.clients__button-wrapper {
    display: flex;
}
.clients__button-wrapper2 {
    display: none;
}

.clients__button {
    width: 209px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border-radius: 4px;
    padding: 13px 0;
    margin: 35px 0 0 50px;
}

.clients__text {
    font-size: 18px;
    margin: 43px 0 0 50px;
    position: relative;
}

.clients__heart {
    position: absolute;
    top: -11%;
    left: 13%;
}

.clients__comment {
    max-width: 40% ;
    padding-left: 90px;

}

.clients__photo {
    position: relative;
    z-index: 5;
    left: auto;
}

.clients__circle {
    position: absolute;
    z-index: 2;
}

.clients__lines {
    position: absolute;
    top: -10px;
    left: 14px;
    z-index: 1;
}

.clients__row {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 30px;
}

.clients__inner {
    display: flex;
    flex-direction: row;
}

.clients__name {
    font-size: 18px;
    font-weight: 900;
}
.clients__post {
    font-size: 15px;
    margin-bottom: 50px;
    position: relative;
}

.clients__paragraph p {
    text-indent: 20px;
    text-align: justify;
}

/* Traits */

.traits__row {
    display: flex;
    flex-direction: row;
}

.traits__info-container {
    width: 50%;
}

.traits__info {
    padding-left: 50px;
    max-width: 370px;
    width: 100%;
}

.traits__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
}

.traits__photo {
    width: 50%;
}

.traits__lorry {
    max-width: 100%;
    overflow-y: hidden;
    object-fit: cover;
}

.traits__title {
    margin-bottom: 11px;
    font-size: 21px;
    font-weight: 900;
    color: #2C2C2C;
}

.traits__text {
    max-width: 315px;
    font-size: 15px;
    line-height: 1.4;
}

.traits__gray {
    position: absolute;
    top: 0;
    left: 9px;
}

.traits__green {
    position: absolute;
    bottom: 37px;
    left: 9px;
}

.traits__dashed-line {
    margin: 5px 0;
    height: 2px;
    width: 317px;
    background: repeating-linear-gradient(to right, #a0a0a0 0, #a0a0a0 19px,transparent 10px,transparent 41px);
    transform: rotate(90deg);
    position: absolute;
    top: 210px;
    left: -137px;
}

/* Team */

.team {
    background: #F9F9F9 ;
}



.team__title {
    font-size: 45px;
    font-weight: 900;
    color: black;
    margin-bottom: 49px;
    padding-top: 55px;
}

.team__title span {
    color: #004AF2; 
}

.team__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.team__item {
    display: flex;
    flex-direction: column;
    color: #2C2C2C;
    flex: 0 1 33.333%;  
    margin-bottom: 30px;
}

.team__item a {
    color: inherit;
}

.team__item a:hover {
    text-decoration: underline;
}

.team__photo {
    width: 370px;
    height: 195px;
    margin-bottom: 12px;
    overflow: hidden;
    box-shadow: 5px 8px 16px 0 rgb(0, 0, 0, .5);
}

.team__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__photo2 {
    object-position: 0 0;

}

.team__name {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 6px;
}

.team__post {
    font-size: 15px;
    margin-bottom: 10px;
}

.team__email {
    padding-left: 23px;
    margin-bottom: 2px;
    background: url(img/black_letter.svg)  0 7px  no-repeat; 
}

.team__email a:hover {
    text-decoration: underline;
}

.team__phone {
    padding-left: 20px;
    background: url(img/black__call.svg)  0px 5px  no-repeat;
    margin-bottom: 10px;
}

/* Mission */

.mission {
    position: relative;
    padding-top: 20px;
}

.mission__phrase {
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, .05);
    text-align: center;
}

.mission__container {
    padding-top: 62px;
    width: 100%;
    max-width: 1200px;
    min-height: 195px;
    background-color: white;
    box-shadow: 0 10px 20px 1px;
    text-align: center;
    position: absolute;
    top: 86px;
    left: 6px;
    border-radius: 5px;
}

.mission__text {
    font-size: 30px;
    font-weight: 700;
    color: #004AF2;
    line-height: 1.2;
}

.mission__book {
    font-size: 21px;
    margin-bottom: 25px;
}

.mission__line {
    width: 83.333%;
    background: linear-gradient(to right ,#004AF2 0, #004AF2 50%, #FC2C2B 50%, #FC2C2B 100%);
    height: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 9%;
}

.mission__btn {
    width: 209px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border-radius: 4px;
    padding: 13px 0;
    margin: 172px auto 115px auto;
}

/* Read */

.read {
    margin-bottom: 120px;
}

.read__50 {
    max-width: 50%;
    margin-bottom: 0px;

}

.read__title {
    font-size: 45px;
    color: black;
    font-weight: 900;
    margin-bottom: 48px;
}

.read__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.read__col {
    margin-bottom: 50px;
    max-width: 500px;
    width: 100%;
    height: auto;
    text-align: justify;
}

.read__col__width {
    max-width: 600px
}

.read__col-title {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}

.read__col-text {
    margin-bottom: 14px;
}

.read__col-title a {
    color: inherit;
    text-decoration: none;
}

.read__col-title a:hover {
    text-decoration: underline;
}

.read_btn {
    width: 209px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border-radius: 4px;
    padding: 13px 0;
    margin: 0;
}

.read_btn a {
    color: white;

}

.footer {
    padding: 40px 0;
    position: relative;
    overflow: hidden;
    background: url(img/tire-track-png-3.png) bottom -73px left -37px no-repeat, url(img/tire-track-png-3_right.png) bottom -73px right -37px no-repeat; 
    background-size: 315px 171px, 315px 171px;
}

.footer__logo {
    padding-bottom: 14px;
    text-align: center;
}

.footer__address {
    text-align: center;
    font-weight: 700;
    font-style: normal;
}

.footer__data {
    padding-bottom: 25px;
    text-align: center;
    font-weight: 700;
}

.footer__data a {
    color: inherit;
}

.footer__data a:hover {
    text-decoration: underline;
}

.footer__links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
}

.footer__link-item:hover {
    text-decoration: underline;
}

.footer__link-item {
    color: #004AF2;
}

/* Main */


.main__container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1230px;
    margin: 55px auto 62px auto;
    padding: 0 15px;
}

/* Privacy */

.privacy {
    text-align: justify;
}

.privacy__title {
    margin: 45px 0;
    font-size: 45px;
    font-weight: 900;
}

.privacy__text {
    max-width: 890px;
    width: 100%;
}

.privacy__text h2{
font-size: 24px;
font-family: 'PT Sans', sans-serif;
font-weight: 700;
margin-bottom: 20px;
}

.privacy__text p{
    margin-bottom: 20px;
}

.privacy__text ul, 
.privacy__text ol{
    margin-bottom: 20px;
}
.privacy__text ol {
    list-style: decimal;
}

.privacy__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.privacy__button {
    margin-bottom: 30px;
}

.privacy__button a {
    display: inline-block;
    max-width: 194px;
}

/* Modals */

.modal__fade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2000;
    transition: display 0.8s ease-in-out;
}

.hidden {
    display: none;
}

/* .modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
} */

.show {
    display: flex;
}

.modal__inner {
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    padding: 25px;
    text-align: center;
    line-height: 1.1;
    position: relative;
}

.modal__title {
    font-size: 24px;
    font-weight: 900;
    color: #004AF2;
    margin-bottom: 10px;
}

.modal__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.modal__subtitle {
    font-size: 15px;
    margin-bottom: 25px;
}

.modal__group {
    display: flex;
    flex-direction: column;
}

.modal_line {
    margin-top: 17px;
    background-color: #fff;
    border: none;
    border-bottom: #707070 solid 1px;
    height: 34px;
    padding-left: 40px;
    padding-bottom: 4px;
    width: 100%;
    color: #2C2C2C ;
    outline: none;
    caret-color: #2C2C2C;
}

.modal_line:focus {
    border-bottom: #504f4f solid 2px;
}

.iconblack1 {
    background-image: url(img/black__person.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 5px;
}

.iconblack2 {
    background-image: url(img/black__call.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 5px;
}

.iconblack3 {
    background-image: url(img/black_letter.svg);  
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 14px 9px;
}

.modal__group input::placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #2C2C2C;
}
.modal__btn {
    max-width: 100%;
    width: 350px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border-radius: 4px;
    padding: 13px 0; 
    margin: 27px 0;
}

.modal__stick {
    max-width: 100%;
    width: 350px;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 25px;
}

.modal__contacts {
    text-align: center;
}
.modal__contacts_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #2C2C2C;
}
.modal__contacts_info {
    line-height: 1.4;
}

.modal__contacts_info a {
    color: inherit;
}

.modal__contacts_info a:hover { 
    text-decoration: underline;
}

.modal__close {
    position: absolute;
    top: -25px;
    right: -30px;
    cursor: pointer;
}

.modal__close img {
    width: 22px;
    height: 22px;
}

.modal__logo {
    margin-bottom: 10px;

}



/* Media Queries  */

@media ( max-width: 1215px) {
    .mission__container {
        width: 91%;
        left: 47px;
    }

    .clients {
        margin-bottom: 82px;
    }
    
    .mission__btn {
        margin: 182px auto 66px auto;
    }
}

@media ( max-width: 1140px){
    .means__inner {
        margin-bottom: 50px;
    }
}

@media ( max-width: 1100px) {
    .read__col {
        padding: 0 40px 0 0;
    }
    

}

@media ( max-width: 1030px){
    .read__info {
        justify-content: center;
    }

    .read__title {
        text-align: center;
    }

    .read_btn {
        margin: 0 auto;
    }

    .mission__text {
        font-size: 26px;
    }
}

@media ( max-width: 990px){

    .read__col {
        padding: 0;
    }

    .clients__paragraph {
        padding-right: 30px;

    }
    

    .clients__comment {
        max-width: 100%;
        padding-left: 29px;
    }
    
    .clients__button-wrapper {
        display: none;
    }

    .clients__button-wrapper2{
        display: flex;
    }

    .clients__wrapper {
        flex-direction: column;
    }
    .clients__logos {
        max-width: 100%;
        width: 950px;
    }

    .clients__list li {
        max-width: 150px;
    }

    .clients__list {
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .traits__photo{
        display: flex;
    }

    .traits__row {
        margin-bottom: 30px;
    }
}

@media ( max-width: 900px){
        .intro__disappear {
        display: none;
    }

    .read__50 {
        max-width: 100%;
        margin: 0 auto;
    }

    .callback__disappear2 {
        display: flex;
    }

    .callback__frame {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 400px;
        margin: 0 auto;
        
    }
    .callback__wrapper {
        background-color: #033FC9;
        color: white;
        padding: 20px 30px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .callback__head {
        font-size: 30px;
        font-weight: 700;
    }

    .callback__wrapper2 {
        background-color: #004AF2;
        padding: 5px 20px 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .callback__form {
        padding-top: 10px;
    }
    .callback__group {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 350px;
        margin: 0 auto;
    }

    .callback__group input::placeholder {
        color: #FFFFFF;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
    }

    .callback_line {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        margin-top: 17px;
        background-color: #004AF2;
        border: none;
        border-bottom: rgba(255, 255, 255, .2) solid 1px;
        height: 34px;
        padding-left: 40px;
        padding-bottom: 4px;
        width: 100%;
        caret-color: white;
        color: white;
        transition: border-bottom-color .2s linear;
    }
    
    .icon21 {
        background-image: url(img/ios-person.svg);  
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 14px 7px;
    }
    
    .icon22 {
        background-image: url(img/ios-call.svg);  
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 14px 5px;
    }
    
    .icon23 {
        background-image: url(img/ios-mail.svg);  
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 14px 9px;
    }

    .callback__btn {
        max-width: 100%;
        width: 350px;
        font-family: 'PT Sans', sans-serif;
        color: white;
        border-radius: 4px;
        padding: 13px 0;
    }

    .callback__button{
       display: flex;
       justify-content: center;

    }

    .callback_line:last-child {
        margin-bottom: 30px;

    }
}


@media ( max-width: 858px){
    .intro__name {
        font-size: 90px;
    }

    .intro__frame {
        width: 352px;
    }

    .intro__description {
        font-size: 13px;
        line-height: 1.2;
        padding-bottom: 15px;
    }
    
    .means__services {
        font-size: 56px;
    }

    .means__item {
        width: 50%;
    }

    .clients__button {
        margin: 35px 0 0 3px;
    }

    .clients__text {
        margin: 39px 0 0 34px;
    }

    .traits__title {
        margin-bottom: 9px;
        font-size: 20px;
    }

    .traits__item {
        margin-bottom: 14px;
    }

    .traits__text {
        font-size: 13px;
    }

    .traits__dashed-line {
        width: 246px;
        top: 174px;
        left: -101px;
    }

    .traits__green {
        bottom: 14px;
    }

    .mission__btn {
        margin: 187px auto 50px auto;
    }

    .mission__container {
        padding-top: 44px;
        top: 80px;
    }

    .mission__text {
        font-size: 27px;
        line-height: 1.1;
        padding-bottom: 20px;
    }
    
    .mission__book {
        font-size: 20px;
    }

    .mission__phrase {
        font-size: 84px;
    }

    .footer__logo {
        padding-bottom: 30px;
    }

    .footer__tire-right img {
        max-width: 322px;
    }

    .footer__tire-right {
        bottom: -62px;
        right: -104px;
    }

    .footer{
        background: url(img/tire-track-png-3.png) bottom -73px left -37px no-repeat, url(img/tire-track-png-3_right.png) bottom -73px right -37px no-repeat; 
        background-size: 315px 171px, 315px 171px;
    }

    .footer {
        padding: 17px 0;
    }

    .read {
        margin-bottom: 37px;
    }
    .team__title {
        padding-top: 16px;
    }

    .team__container {
        padding-bottom: 0px;
    }

}

@media (max-width: 800px) {
    .mission__container {
        width: 89%;
        left: 45px;
    }

    .mission__text {
        font-size: 24px;
    }

    .mission__book {
        font-size: 18px;
    }

    .read__title {
        font-size: 39px;
    }

    .main__container {
        margin: 22px auto 20px auto;
    }

    .privacy__text ol {
        padding-left: 20px;
    }

}



@media (max-width: 768px) {

    body.lock {
        overflow: hidden;
    }

    .header--dark {
        background: rgb(0, 0, 0, .9);

    }
    .header__row {
        height: 50px;
    }
    .header__navigation{
        display: flex;
        position: absolute;
        top: -2500%;
        left: 0;
        right: 0;
        flex-direction: column;
        padding-bottom: 5px;
        text-align: right;
        background-color: rgba(0, 0, 0, 1);
        height: 100%;
        min-height: 100vh;
        padding-top: 9px;
        transition: 0.7s;
        
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        text-align: right;
        height: 100%;
        overflow-y: scroll;

        

    }

    .header__navigation.active {
        top: 100%;
        
    }



    .nav__link {
        display: block;
        padding:  12px 15px 12px 0;
    }

    .nav__link:last-child {
        padding-right: 15px;
        margin-bottom: 47px;
    }

    .header__burger {
        display: block;
    }

    .clients__list {
        padding-right: 30px;
    }
}
@media ( max-width: 750px){

    .intro {
        height: 470px;
    }

    .intro__content {
        height: 487px;
    }

    .traits__info {
        padding-right: 15px;
    }
    
    .team__title {
        text-align: center;
    }
    
    .clients__title {
        text-align: center;
        margin-left: 0px;
    }

    .mission__container {
        width: 88%;
        left: 46px;
    }
}


@media ( max-width: 715px){

    .mission__text {
        font-size: 22px;
    }

    .mission__container {
        min-height: 183px;
        padding-top: 38px;
    }

}




@media ( max-width: 700px){

    .intro {
        height: 362px;
        margin-bottom: 86px;
    }

    .intro__content {
        height: 410px;
    }

    .intro__text {
        padding-bottom: 14px;
    }

    .mission__container {
        width: 90%;
        left: 35px;
    }

    .clients__list {
        padding-right: 0px;
        display: flex;
    }

    .clients__list li {
        width: 50%;
        margin-left: 0px;
        text-align: center;
    }

    .intro__frame {
        bottom: -392px;
        left: -612px;
        width: 271px;
    }

    .intro__content {
        flex-direction: column;
        align-items: flex-end;
        height: 352px;
    }

    .intro__text {
        background-color: rgba(147, 148, 148, 0.4)
    }

    .intro__name {
        color: rgba(255, 255, 255, 1);
        font-size: 65px;
    }

    .intro__sign {
        font-size: 110px;
    }

    .intro__countries {
        font-size: 12px;
    }

    .intro__head {
        font-size: 27px;
    }

    .intro__wrapper {
        padding: 7px 23px 0;
    }

    .intro__description {
        font-size: 11px;
        line-height: 1.1;
        padding-bottom: 10px;
    }

    .intro__wrapper2 {
        background-color: #0344da;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 15px;
    }

    .intro_line {
        margin-top: 11px;
    }

    .traits__dashed-line {
        width: 120px;
        top: 98px;
        left: -38px;
    }

    .traits__gray {
        width: 24px;
        left: 10px;
    }

    .traits__green {
        bottom: 376px;
        left: 10px;
        width: 24px;
    }

    .btn {
        margin: 22px 0 0;
    }

    .button {
        font-size: 16px;
    }

    .form__group input::placeholder {
        font-size: 14px;
    }

    .icon1 {
        background-size: 13px;
    }

    .icon2 {
        background-size: 14px;
        background-position: 14px 7px;
    }

    .icon3 {
        background-size: 13px;
        background-position: 14px 12px;
    }

    .traits__row {
        flex-direction: column;
    }

    .traits__info {
        display: flex;
    }

    .traits__info-container {
        width: 100%;
    }

    .traits__info {
        padding-left: 40px;
        max-width: 676px;
        flex-wrap: wrap;
        margin: 0 -20px;
        padding-right: 0px;
    }

    .traits__info {
        margin-bottom: 20px;
    }

    .traits__photo {
        margin: 0 auto;
        width: 500px;
        max-width: 100%;
    }

    .traits__item {
        width: 50%;
        padding: 0 20px;
    }

    .traits__title {
        font-size: 15px;
    }

    .traits__text {
        margin-top: auto;
    }

    .clients__comment {
        padding-left: 17px;
    }

    .footer {
        background: url(img/tire-track-png-3.png) bottom -50px left -37px no-repeat, url(img/tire-track-png-3_right.png) bottom -50px right -37px no-repeat;
        background-size: 250px 151px, 250px 151px;
    }

}

@media ( max-width: 650px){

    .intro__frame {
        left: -578px;
    }

    .intro {
        margin-bottom: 61px;
    }

    .means__inner {
        margin-top: 0px;
    }

    .means__services {
        font-size: 50px;
    }
}

@media ( max-width: 630px){
    .mission__phrase {
        font-size: 68px;
    }

    .clients__list li {
        margin-right: 20px;
    
    }

    .mission__container {
        padding-top: 36px;
        top: 65px;
    }

    .mission__text {
        font-size: 20px;
    }

    .mission__book {
        font-size: 16px;
    }

    .mission__container {
        min-height: 160px;
    }
}

@media ( max-width: 608px){
    .traits__dashed-line {
        width: 161px;
        top: 113px;
        left: -58px;
    }
}

@media ( max-width: 600px){
    .intro__frame {
        left: -538px;
    }

    .intro__head {
        font-size: 24px;
    }

    .intro__description {
        font-size: 10px;
    }

    .button {
        font-size: 15px;
         box-shadow: 0 6px 0 rgb(192 130 29);
    }

    .btn {
        margin: 20px 0 0;
        padding: 8px 0;
    }
    
    .btn515px{
        box-shadow: 0 3px 0 rgb(192 130 29);

    }

    .intro__wrapper2 {
        padding-bottom: 11px;
    }

    .form__group input::placeholder {
        font-size: 12px;
    }

    .icon2 {
        background-position: 14px 8px;
    }

    .icon1 {
        background-position: 14px 9px;
    }

    .intro_line {
        margin-top: 10px;
    }
}


@media ( max-width: 570px){
    .mission__text {
        font-size: 18px;
    }

    .mission__book {
        font-size: 14px;
    }

    .mission__container {
        min-height: 150px;
    }
}

@media ( max-width: 560px){

    .intro__frame {
        left: -493px;
    }

    .intro__frame {
        width: 230px;
    }

    .intro__head {
        font-size: 21px;
    }

    .intro_line {
        margin-top: 4px;
    }

    .intro__wrapper {
        padding: 4px 12px 0 20px;
    }
    .btn {
        padding: 7px 0;
        margin: 13px 0 0;
    }

    .btn515px{
        box-shadow: 0 3px 0 rgb(192 130 29);

    }

    .means__inner {
        padding: 19px 0px 65px 0px;
    }

    .mission__container {
        width: 88%;
        left: 33px;
    }

    .mission__btn {
        margin: 152px auto 50px auto;
    }

    .footer {
        background: url(img/tire-track-png-3.png) bottom -50px left -37px no-repeat, url(img/tire-track-png-3_right.png) bottom -50px right -37px no-repeat;
        background-size: 198px 129px, 198px 129px;
    }
}

@media ( max-width: 540px){
    .clients__list li {
        max-width: 117px;
    }
}

@media ( max-width: 525px){
    .traits__green {
        display: none;
    }

    .traits__gray {
        left: 0px;
    }

    .traits__dashed-line {
        width: 119px;
        top: 106px;
        left: -48px;
    }

    .traits__info-container{
        position: relative;
        background: url(img/greenpin.svg) no-repeat bottom 21px left;
    }


}

@media ( max-width: 520px){
    .mission__phrase {
        font-size: 58px;
    }

    .mission__container {
        padding-top: 33px;
        top: 58px;
    }

    .mission__text {
        font-size: 17px;
        max-width: 383px;
        margin: 0 auto;
    }
}

@media ( max-width: 515px){
    .intro__frame {
        width: 202px;
    }
    .intro__frame {
        left: -464px;
    }
    .intro__name {
        font-size: 55px;
    }

    .intro__sign {
        font-size: 95px;
    }

    .intro__head {
        font-size: 20px;
    }

    .intro__description {
        font-size: 9px;
    }

    .button {
        font-size: 13px;
        box-shadow: 0 5px 0 rgb(192 130 29);
        transform: translateY(-3px);
    }

    .btn515px{
        box-shadow: 0 3px 0 rgb(192 130 29);
    }

    .icon1 {
        background-position: 8px 9px;
    }

    .icon2 {
        background-position: 7px 8px;
    }
    .icon3 {
        background-position: 8px 12px;
    }

    .intro_line {
        padding-left: 35px;
    }

}



@media ( max-width: 510px){

    .traits__info {
        margin: 0;
    }
    .traits__item {
        width: 100%;
        padding: 0;
    }

    .traits__title {
        font-size: 21px;
    }

    .traits__dashed-line {
        width: 275px;
        top: 174px;
        left: -115px;
    }
    
    .traits__dashed-line {
        width: 260px;
        top: 165px;
        left: -118px;
    }

    .mission__container {
        padding-top: 28px;
    }

    .mission__book {
        font-size: 13px;
    }

    .mission__container {
        min-height: 139px;
    }

    .mission__text {
        font-size: 19px;
    }

    .mission__book {
        font-size: 12px;
    }
}

@media ( max-width: 485px){
    .intro {
        height: 307px;
    }

    .intro__content {
        height: 297px;
    }

    .intro__frame {
        bottom: -333px;
        left: -435px;
    }

    .intro__description {
        padding-bottom: 5px;
    }

    .intro_line {
        margin-top: 0px;
        padding-left: 30px;
    }

    .form__group input::placeholder {
        font-size: 10px;
    }

    .mission__container {
        width: 88%;
        left: 31px;
    }

    .modal__close {
        top: -30px;
        right: 0px;
    }
}

@media ( max-width: 460px){
    .intro__frame {
        display: none;
    }

    .intro {
        height: 287px;
    }

    .intro__content {
        height: 279px;
    }

    .intro {
        margin-bottom: 383px;
    }

    .intro__frame2 {
        margin: 28px auto;
        display: flex;
        flex-direction: column;
        position: static;
        width: 330px;
    }

    .intro__description {
        padding-bottom: 17px;
    }

    .intro__head {
        margin-bottom: 5px;
         font-size: 23px;
    }

    .intro_line {
        margin-top: 18px;
    }

    .intro__name {
        font-size: 72px;
    }

    .form__group input::placeholder {
        font-size: 15px;
    }

    .intro_line {
        padding-left: 36px;
    }

    .icon1 {
        background-position: 12px 8px;
    }

    .icon2 {
        background-position: 12px 7px;
    }

    .icon3 {
        background-position: 11px 11px;
    }

    .means__services {
        font-size: 37px;
        top: 0;
    }

    .means__inner {
        padding: 45px 0px 31px 0px;
    }

    .button {
        box-shadow: 0 5px 0 rgb(192 130 29);
        transform: translateY(-5px);
    }

    .btn {
        padding: 10px 0;
        margin: 19px 0 0;
    }

    .intro__description {
        font-size: 14px;
    }

    .intro__wrapper {
        padding: 13px 12px 0 20px;
    }

    .means__item {
        width: 100%;
    }

    .clients__button {
        padding: 11px 0;
        width: 179px;
    }

    .button {
        font-size: 15px;
    }

    .mission__container {
        left: 28px;
    }
}

@media ( max-width: 450px){
    .mission__text {
        font-size: 17px;
    }

    .mission__book {
        font-size: 11px;
        margin-bottom: 6px;
    }

    .mission__container {
        min-height: 125px;
    }

    .read__title {
        font-size: 40px;
    }

    .modal__title {
        font-size: 19px;
    }

    .modal__subtitle {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .modal_line {
        margin-top: 12px;
    }
    .modal__inner {
        padding: 10px 20px;
        width: 360px;
    }

    .modal__stick {
        margin-bottom: 11px;
    }

    .modal__btn {
        margin: 18px 0 25px;
    }
}

@media ( max-width: 440px){
    .read__title {
        font-size: 32px;
    }

    .clients__list li {
        max-width: 75px;
    }
}

@media ( max-width: 420px){
    .mission__phrase {
        font-size: 48px;
    }

    .mission__container {
        top: 49px;
    }

    .clients__button {
        margin: 53px 0 0 3px;
    }

    .clients__text {
        margin: 51px 0 0 20px;
    }
}

@media ( max-width: 415px){
    
    .team__photo {
        width: 300px;
    }

    .callback__description {
        font-size: 14px;
        line-height: 1;
    }
}

@media ( max-width: 407px){
    .clients__button {
        width: 156px;
    }
}

@media ( max-width: 400px){
    .mission__text {
        font-size: 16px;
    }
    .mission__book {
        font-size: 10px;
    }

    .mission__container {
        min-height: 115px;
    }

    .clients__paragraph {
        padding-right: 15px;
    }

    .footer {
        background: url(img/tire-track-png-3.png) bottom -14px left -50px no-repeat, url(img/tire-track-png-3_right.png) bottom -14px right -51px no-repeat;
        background-size: 167px 123px, 167px 123px;
    }
}

@media ( max-width: 380px){
    .mission__container {
        left: 24px;
    }

    .clients__text {
        font-size: 13px;
    }
    
    .clients__heart {
        width: 33px; 
        top: -4%;
        left: 14%;
    }

    .callback__wrapper2 {
        background-color: #004AF2;
        padding: 5px 20px 12px;
    }

    .callback_line {
        margin-top: 10px;
    }

    .callback__wrapper {
        padding: 10px 30px 10px;
    }

    
    
}

@media ( max-width: 360px){
    .mission__phrase {
        font-size: 40px;
    }

    .mission__container {
        top: 40px;
    }

    .intro__frame2 {
        width: 311px;
    }

    .intro_line {
        margin-top: 14px;
    }

    .form__group input::placeholder {

        font-size: 14px;
    }

    .intro__description {
        font-size: 12px;
    }
}

@media ( max-width: 345px){
    .mission__container {
        left: 22px;
    }

    .team__photo {
        box-shadow: 0px 8px 16px 0 rgb(0 0 0 / 50%);
    }

    .mission__container {
        box-shadow: 0 6px 9px -2px;
    }

    .means__inner {
        box-shadow: 0 5px 11px rgb(0 0 0 / 20%);
    }

    .intro__wrapper {
        padding: 9px 10px 0 13px;
    }

    .intro__frame2 {
        width: 302px;
    }

    .clients__comment {
        padding-left: 11px;
    }

    .clients__text {
        margin: 58px 0 0 23px;
        font-size: 12px;
    }

    .clients__button {
        width: 163px;
    }

    .mission__text {
        font-size: 15px;
    }

    .mission__book {
        font-size: 9px;
    }

    .mission__container {
        min-height: 110px;
    }
}









    

   
  

    


